body {
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

.header {
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 105px;
    border-bottom: 1px solid #D4D4D4;
}
.header-logo {
    text-decoration: none;
}
.logo {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #5671F6;

    padding: 0 35px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    border-right: 1px solid #D4D4D4;
}

.search-input {
    border: none;
    padding-left: 38px;
    margin-left: 34px;

    color: #A5A5A5;

    background-image: url(../img/search-icon.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.navigation {
    margin-left: auto;
    margin-right: 44px;
}
.navigation-link {
    position: relative;
    margin-right: 18px;

    text-decoration: none;
    color: #363636;
}
.navigation-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s;
}
.navigation-link:hover:after {
    transform: scaleX(1);
}

.buttons-group {
    height: 100%;
}
.buttons-group > .button {
    border: none;
    height: 100%;
    width: 160px;

    cursor: pointer;
}
.buttons-group > .button:first-child {
    border-left: 1px solid #D4D4D4;
}
.sign-up {
    background-color: #fff;
    color: #5671F6;
}
.log-in {
    background-color: #5671F6;
    color: #fff;
}
